%p#notice= notice

%p
  %b Title:
  = @slide.title
%p
  %b Default:
  = @slide.default
%p
  %b Position:
  = @slide.position

= link_to 'Edit', edit_slide_path(@slide)
\|
= link_to 'Back', slides_path
