- slides = Slide.rank(:position).all
#carousel-example-generic.carousel.slide{data: {ride: 'carousel'}}
  %ol.carousel-indicators
    - slides.each_with_index do |slide, index|
      %li{data: {'slide-to' => index, target: '#carousel-example-generic'}, class: "#{'active' if slide.default?}"}

  .carousel-inner{role: 'listbox'}
    - slides.each do |slide|
      .item{class: "#{'active' if slide.default?}"}
        - if slide.page
          = link_to slide.page do
            = image_tag slide.slide_url(:thumb)
            .carousel-caption
              = slide.title
        - else
          = image_tag slide.slide_url(:thumb)
          .carousel-caption
            = slide.title

  = link_to '#carousel-example-generic', class: 'left carousel-control', data: {slide: 'prev'}, role: 'button' do
    %span.glyphicon.glyphicon-chevron-left{aria: {hidden: true}}
    %span.sr-only Previous
  = link_to '#carousel-example-generic', class: 'right carousel-control', data: {slide: 'next'}, role: 'button' do
    %span.glyphicon.glyphicon-chevron-right{aria: {hidden: true}}
    %span.sr-only Next