= render 'shared/carousel'
.row
  .col-md-6
    %h3.page-header
      = link_to 'Новости', news_index_path
    = render partial: 'news/news', collection: @news

  -#.col-md-6
    %h3.page-header
      = link_to 'Полезная информация', news_index_path
    = render partial: 'news/news', collection: @news
.row
  .col-md-offset-4.col-md-4
    = link_to 'Заказать обратный звонок', new_call_request_path, class: 'btn btn-danger btn-lg btn-block'