- content_for :title do
  = @news.meta[:title]

- content_for :keywords do
  = @news.meta[:keywords]

- content_for :description do
  = @news.meta[:description]

%h1.page-header
  = @news.title

.media
  - if @news.cover_url
    .media-left
      = link_to @news do
        = image_tag @news.cover_url(:thumb), class: 'media-object thumbnail', alt: @news.title, width: 150
  .media-body
    = @news.content.html_safe

  %small.text-right
    = @news.created_at.strftime('%d.%m.%Y')