.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li{ class: "#{'active' if controller_name == 'news' }" }
      = link_to admin_news_index_path do
        Новости
    %li{ class: "#{'active' if controller_name == 'pages' }" }
      = link_to admin_pages_path do
        Страницы
  %ul.nav.nav-sidebar
    %li{ class: "#{'active' if controller_name == 'call_requests' }" }
      = link_to admin_call_requests_path do
        Запросы звонков
        %span.badge
          = CallRequest.unprocessed.count
  -#  %li{ class: "#{'active' if controller_name == 'loan_requests' }" }
  -#    = link_to admin_loan_requests_path do
  -#      Заявки займов
  -#      %span.badge
  -#        = LoanRequest.unprocessed.count
  -#%ul.nav.nav-sidebar
  -#  %li{ class: "#{'active' if controller_name == 'loans' }" }
  -#    = link_to admin_loans_path do
  -#      Займы
  -#  %li{ class: "#{'active' if controller_name == 'payments' }" }
  -#    = link_to admin_payments_path do
  -#      Платежи
  -#%ul.nav.nav-sidebar
  -#  %li{ class: "#{'active' if controller_name == 'users' }" }
  -#    = link_to admin_users_path do
  -#      Пользователи